In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Try using 'latin1' encoding
try:
    data = pd.read_csv('/Users/rianrachmanto/miniforge3/project/RAG_Drill_Report/data/Timelog SA-22 1.csv', encoding='latin1')
    print("File loaded successfully with latin1 encoding.")
except UnicodeDecodeError as e:
    print("latin1 encoding failed:", e)

# If latin1 fails, try 'cp1252'
try:
    data = pd.read_csv('/Users/rianrachmanto/miniforge3/project/RAG_Drill_Report/data/Timelog SA-22 1.csv', encoding='cp1252')
    print("File loaded successfully with cp1252 encoding.")
except UnicodeDecodeError as e:
    print("cp1252 encoding failed:", e)

File loaded successfully with latin1 encoding.
File loaded successfully with cp1252 encoding.

In [3]:
print(data.head())

   Unnamed: 0  Unnamed: 1             Rig Unit        Report Date  \
0         NaN         NaN  Mast Unit-2  Remote  29-Dec-2012 18:00
1         NaN         NaN  Mast Unit-2  Remote  29-Dec-2012 19:00
2         NaN         NaN  Mast Unit-2  Remote  29-Dec-2012 21:30
3         NaN         NaN  Mast Unit-2  Remote   30-Dec-2012 0:00
4         NaN         NaN  Mast Unit-2  Remote   30-Dec-2012 3:00

          Phase Activity  Duration  NPT  \
0       MOB, RU  UNITMOV       1.0  NaN
1       MOB, RU  SLKPLUG       2.5  NaN
2  INTER, INTER   SLKDMG       2.5  NaN
3  INTER, INTER      R/U       3.0  NaN
4  INTER, INTER      TIH       1.0  NaN

                                             Summary  Unnamed: 9  ...  \
0  Reposition Hallco mast unit from SA - to SA-22...         NaN  ...
1  R/U Slickline, presure test PCE 250/2000 psi 5...         NaN  ...
2  M/U 2.72" TGC tools, RIH to HUD @ 12.230' WLM ...         NaN  ...
3  R/U Mast Unit. M/U RMT-EU - Capacitance tools....         NaN  ...
4  RIH RMT Tools @ 100 FPM, stop at depth 3100' d...         NaN  ...

   Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

[5 rows x 26 columns]

In [4]:
df1=data[['Report Date','Summary']]
print(df1.head())

         Report Date                                            Summary
0  29-Dec-2012 18:00  Reposition Hallco mast unit from SA - to SA-22...
1  29-Dec-2012 19:00  R/U Slickline, presure test PCE 250/2000 psi 5...
2  29-Dec-2012 21:30  M/U 2.72" TGC tools, RIH to HUD @ 12.230' WLM ...
3   30-Dec-2012 0:00  R/U Mast Unit. M/U RMT-EU - Capacitance tools....
4   30-Dec-2012 3:00  RIH RMT Tools @ 100 FPM, stop at depth 3100' d...

In [5]:
# load the data
# data=pd.read_csv('/Users/rianrachmanto/miniforge3/project/RAG_Drill_Report/data/Timelog SA-22 1.csv')
# df=data[['Wellbore','Remark']]
# print(df.Wellbore.unique().tolist())
# selected_wellbore=df[df.Wellbore=='15_9F15D']
# print(selected_wellbore)

In [6]:
#remove Wellbore column
# selected_wellbore=selected_wellbore.drop(columns='Wellbore')

In [7]:
path='/Users/rianrachmanto/miniforge3/project/RAG_Drill_Report/data/well_remark.txt'

In [8]:
with open(path, 'a') as f:
    df_string = df1.to_string(header=True, index=False)
    f.write(df_string)